ion-content{
    --ion-background-color: #455A64;
}

img {
    margin-top: 40%;
    margin-left: 50%;
    transform: translate(-50%);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

ion-item {
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

ion-button {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

ion-icon {
    padding-right: 5%;
}