<ion-content>
  <ion-item lines="none">
    <img src="../../assets/logo.svg" alt="A white logo image of Parkopogo" />
  </ion-item>
 
  <ion-text color="light">
    <h1>PARKOPOGO</h1>
  </ion-text>

  <ion-item lines="full">
    <ion-input color="light" placeholder="Username"><ion-icon name="mail"></ion-icon></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-input color="light" type="password" placeholder="Password"><ion-icon name="lock-closed"></ion-icon></ion-input>
  </ion-item>

  <ion-button color="light" expand="full" shape="round" size="large" (click)="routeLogin()">LOGIN</ion-button>

  <ion-text color="light">
    <p>Sign Up?</p>
    <p>Forgot Password?</p>
  </ion-text>

</ion-content>
