<ion-header>
  <ion-toolbar color="secondary" id="toolbar">

    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Messages</ion-title>

  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let item of items;" class="message" lines="full">

    <ion-avatar slot="start">
      <img src="{{item.image}}">
    </ion-avatar>

    <ion-text>
      <h2>{{item.name}}</h2>
      <p>{{item.message}}</p>
    </ion-text>

  </ion-item>
</ion-content>