<ion-header>
  <ion-toolbar color="secondary" id="toolbar">

    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>Home</ion-title>
  
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="single-post-home" color="secondary">

    <ion-item color="secondary">
      <ion-avatar slot="start">
        <img src="../../assets/amelia.png">
      </ion-avatar>
  
      <ion-text>
        <h2>Michael Read</h2>
      </ion-text>
  
      <ion-icon name="heart" slot="end"></ion-icon>
      <ion-icon name="chatbubble" slot="end"></ion-icon>
      <ion-icon name="share-social" slot="end"></ion-icon>
    </ion-item>
  
    <img src="../../assets/home-map.png">
  
    <ion-text>
      <p>
        Lorem ipsum dolor sit amet. #cool #sick map
      </p>
    </ion-text>
  
  </ion-card>

</ion-content>

