<ion-header>
  <ion-toolbar color="secondary" id="toolbar">

    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Home</ion-title>

  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="single-post-home" color="secondary">

    <ion-item color="secondary">
      <ion-avatar slot="start">
        <img src="../../assets/amelia.png">
      </ion-avatar>

      <ion-text>
        <h2>Amelia Smith</h2>
      </ion-text>

      <ion-icon (click)="changeHeartColour()" color="{{colourHeart}}" name="heart" slot="end"></ion-icon>
      <ion-icon color="light" name="chatbubble" slot="end"></ion-icon>
      <ion-icon color="light" name="share-social" slot="end"></ion-icon>
    </ion-item>

    <img src="../../assets/home-map.png">

    <ion-text>
      <p>
        Map of a route i've done! Check it out! #cool #sick map
      </p>
    </ion-text>

  </ion-card>

  <ion-card class="single-post-home" color="secondary">

    <ion-item color="secondary">
      <ion-avatar slot="start">
        <img src="../../assets/amelia.png">
      </ion-avatar>

      <ion-text>
        <h2>Amelia Smith</h2>
      </ion-text>

      <ion-icon (click)="changeHeartColour()" color="{{colourHeart}}" name="heart" slot="end"></ion-icon>
      <ion-icon color="light" name="chatbubble" slot="end"></ion-icon>
      <ion-icon color="light" name="share-social" slot="end"></ion-icon>
    </ion-item>

    <img src="../../assets/home-map.png">

    <ion-text>
      <p>
        Map of a route i've done! Check it out! #cool #sick map
      </p>
    </ion-text>

  </ion-card>

  <ion-card class="single-post-home" color="secondary">

    <ion-item color="secondary">
      <ion-avatar slot="start">
        <img src="../../assets/amelia.png">
      </ion-avatar>

      <ion-text>
        <h2>Amelia Smith</h2>
      </ion-text>

      <ion-icon (click)="changeHeartColour()" color="{{colourHeart}}" name="heart" slot="end"></ion-icon>
      <ion-icon color="light" name="chatbubble" slot="end"></ion-icon>
      <ion-icon color="light" name="share-social" slot="end"></ion-icon>
    </ion-item>

    <img src="../../assets/home-map.png">

    <ion-text>
      <p>
        Map of a route i've done! Check it out! #cool #sick map
      </p>
    </ion-text>

  </ion-card>

  <ion-card class="single-post-home" color="secondary">

    <ion-item color="secondary">
      <ion-avatar slot="start">
        <img src="../../assets/amelia.png">
      </ion-avatar>

      <ion-text>
        <h2>Amelia Smith</h2>
      </ion-text>

      <ion-icon (click)="changeHeartColour()" color="{{colourHeart}}" name="heart" slot="end"></ion-icon>
      <ion-icon color="light" name="chatbubble" slot="end"></ion-icon>
      <ion-icon color="light" name="share-social" slot="end"></ion-icon>
    </ion-item>

    <img src="../../assets/home-map.png">

    <ion-text>
      <p>
        Map of a route i've done! Check it out! #cool #sick map
      </p>
    </ion-text>

  </ion-card>

</ion-content>

