<ion-header>
  <ion-toolbar color="secondary" id="toolbar">

    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Account</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile">
    <img src="../../assets/amelia.png">
    <ion-text color="secondary">
      <h1>Amelia Smith</h1>
    </ion-text>
  </div>



<ion-grid>
  <ion-row>
    <ion-col class="">
      <img src="../../assets/account-icon.png">
    </ion-col>
    <ion-col>
      <img src="../../assets/account-icon.png">
    </ion-col>
    <ion-col>
      <img src="../../assets/account-icon.png">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img src="../../assets/account-icon.png">
    </ion-col>
    <ion-col>
      <img src="../../assets/account-icon.png">
    </ion-col>
    <ion-col>
      <img src="../../assets/account-icon.png">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img src="../../assets/account-icon.png">
    </ion-col>
    <ion-col>
      <img src="../../assets/account-icon.png">
    </ion-col>
    <ion-col>
      <img src="../../assets/account-icon.png">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img src="../../assets/account-icon.png">
    </ion-col>
    <ion-col>
      <img src="../../assets/account-icon.png">
    </ion-col>
    <ion-col>
      <img src="../../assets/account-icon.png">
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

